---
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Whiteboard</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css"
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
    <style>
      * {
          margin: 0;
          padding: 0;
      }
      html, body {
          width: 100%;
          height: 100%;
          overflow: hidden;
      }
    </style>
  </head>
  <body>  
    <svg id="freehand-canvas" class="absolute inset-0 w-full h-full touch-none z-0"><path></path></svg>
    <div draggable id="wrapper" class="bg-white w-[100px] h-[50%] rounded-2xl absolute left-5 top-5 m-auto drop-shadow-lg">
      <div id="header" class="p-2 border-b border-gray-300 flex justify-center cursor-move">
        <div class="cursor-pointer">
          <i id="minimize" class="fa-solid fa-minus text-xl text-purple-700" onclick="toggleMinimize()"></i>
        </div>
      </div>
    </div>
    <script src="/src/scripts/panel.js"></script>
    <script src="/src/scripts/draw.js"></script>
  </body>
</html>






<!-- Old Canvas
---
---
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whiteboard</title>
    <style>
        body {
            overflow: hidden;
        }
        .whiteboard {
            background-color: #ffffff;
            max-width: 100%;
            max-height: 100%;
            cursor: crosshair;
        }
    </style>
</head>
<body>
    <div class="whiteboard">
        <canvas id="canvas" width="1920" height="1080"></canvas>
    </div>
    <script>import "./scripts/draw.js";</script> 
</body>
</html> -->